<article class="resume">
  <header class="resume__header">
    <img class="resume__image" src="http://gravatar.com/avatar/2359f631c17758751f2838e8beddd989" />
    <h1 class="resume__heading">Matthew White</h1>
    <h2 class="resume__subheading">
      Front End Developer, Staunch Defender of the Oxford Comma, Part-time Linguist, and Eater of Foods
    </h2>
  </header>
  <div class="resume__body">
    <dl class="resume__list">
      <dt class="resume__term">Info</dt>
      <dd class="resume__definition resume__definition--first">
        <ul class="info">
          <li class="info__item">
            <span class="info__scope">address</span> 11 Babcock Street, #2, Brookline, MA 02446
          </li>
          <li class="info__item">
            <span class="info__scope">email</span> <a class="info__link" href="mailto:me@kaishi.ro">me@kaishi.ro</a>
          </li>
          <li class="info__item">
            <span class="info__scope">website</span> <a class="info__link" href="http://kaishi.ro">http://kaishi.ro</a>
          </li>
          <li class="info__item">
            <span class="info__scope">github</span> <a class="info__link" href="http://github.com/kaishiro">http://github.com/kaishiro</a>
          </li>
          <li class="info__item">
            <span class="info__scope">most jealous of</span> <a class="info__link" href="http://watsi.org">http://watsi.org</a>
          </li>
        </ul>
      </dd>
      <dt class="resume__term">Personal</dt>
      <dd class="resume__definition">
        I'm a front end guy.
        <br /><br />
        It's crazy to me how fast things are moving these days.  Backbone, Bourbon, SMACSS, BEM, Angular, Zen - I can only imagine this is what it was like being a Perl ninja in the late '90s.  Front end is sexy and there's a glut of innovation going on that makes the back loaded CMS looks veritably stated. Sure, yeah, 'the cloud' - that's neat.<br /><br />But how about turbolinked assets beboppin' and scattin' from one load to the next.  How about data visualization parsed from Mongo, to Backbone, to a proper goddamn Mustachioed (M)View(*) all wrapped up in a rakish little D3.js number.  Screw includes, how about rolling your partials up into your layout and then never. loading. again.
        <br /><br />
        These are the things that keep me up at night. You wanna lose some sleep?  Try taking the long view on front end.
        <br /><br />Watch yourself out there.
      </dd>
      <dt class="resume__term">Work</dt>
      <dd class="resume__definition listing">
        <h4 class="listing__heading">Front End Development Lead</h4>
        <h5 class="listing__subheading">Digital Bungalow</h5>
        <div class="listing__aside">March 2013 - Present</div>
        <p class="listing__copy">
        </p>
        <h4 class="listing__heading">Web Development Lead</h4>
        <h5 class="listing__subheading">Digital Bungalow</h5>
        <div class="listing__aside">November 2011 - March 2013</div>
        <p class="listing__copy">
        </p>
        <h4 class="listing__heading">Web Developer</h4>
        <h5 class="listing__subheading">Digital Bungalow</h5>
        <div class="listing__aside">March 2011 - November 2011</div>
        <p class="listing__copy">
        </p>
        <h4 class="listing__heading">Freelance Web Developer</h4>
        <h5 class="listing__subheading">The Factory</h5>
        <div class="listing__aside">September 2007 - March 2011</div>
        <p class="listing__copy">
        </p>
      </dd>
      <dt class="resume__term">School</dt>
      <dd class="resume__definition listing">
        <h4 class="listing__heading">Northeastern University</h4>
        <h5 class="listing__subheading">B.S. in Criminal Justice</h5>
        <div class="listing__aside">2002-2007</div>
      </dd>
      <dt class="resume__term">Other</dt>
      <dd class="resume__definition listing">
        <h4 class="listing__heading">Chinese (Mandarin)</h4>
        <h5 class="listing__subheading">Business Fluent (HSK IV)</h5>
        <h4 class="listing__heading">Japanese</h4>
        <h5 class="listing__subheading">Beginner-Intermediate (N4)</h5>
      </dd>
    </dl>
  </div>
  <footer class="resume__footer">
  </footer>


</article>
