.page {
  background:#ffd700;
}

.hello {
  float:left;
  font-family:'Josefin Sans', sans-serif;	
  width:60%;
  .hello__greeting {
    padding:.5em 0 0 .25em;
    display:block;
    width:100%;
  }
  .hello__name {
    padding-left:.25em;
    display:block;
    width:100%;
  }
}

.data {
  font-family:'Josefin Sans', sans-serif;
  float:left;
  width:40%;
  margin-top:50px;
  font-size:24px;
  .data__heading {
    font-size:30px;
    margin-top:1.5em;
    &:first-child {
      margin-top:0;
    }
  }
  .data__group {
    margin-top:1em;
  }
  .data__point {
    font-weight:bold;
  }
}
