.page {
  background-color:#ffd700;
    color:#222222; 
  -webkit-transition: background-color 5000ms linear, color 5000ms linear;
  -moz-transition: background-color 5000ms linear, color 5000ms linear;
  -o-transition: background-color 5000ms linear, color 5000ms linear;
  -ms-transition: background-color 5000ms linear, color 5000ms linear;
  transition: background-color 5000ms linear, color 5000ms linear;
  &.page--sleeping {
    background-color:#36454F;
    color:#DEDEDE; 
  }
}

.hello {
  float:left;
  font-family:'Josefin Sans', sans-serif;	
  width:60%;
  .hello__greeting {
    padding:.5em 0 0 100px;
    display:block;
    width:100%;
  }
  .hello__name {
    padding-left:100px;
    display:block;
    width:100%;
  }
}

.data {
  font-family:'Josefin Sans', sans-serif;
  float:left;
  width:40%;
  padding-right:100px;
  margin-top:50px;
  font-size:24px;
  .data__heading {
    font-size:30px;
    margin-top:1.5em;
    &:first-child {
      margin-top:0;
    }
  }
  .data__group {
    margin-top:1em;
    line-height:1.5em;
  }
  .data__point {
    font-weight:bold;
  }
}
